/* SPDX-License-Identifier: CC0-1.0 */

.webring .articles {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
}
.webring .title {
  margin: 0;
}
.webring .article {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 0.5rem;
  min-width: 10rem;
}
.webring .summary {
  flex: 1 1 0;
}
.webring .attribution {
  text-align: right;
}
