{{ define "main" }}
<header>
  <p>
    <img src="avatar.png" width="256" height="256" alt="My avatar: a blue squircle with a Super Famicom controller and code inside" />
  </p>
  <h1 class="title">{{ .Site.Title }}</h1>
  {{ .Content }}
<footer>
  The content for this site is <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA</a>.
  Its <a href="https://github.com/sirfredrick/blog.sirfredrick.com">code</a> is <a href="https://opensource.org/licenses/MIT">MIT</a>.
</footer>
</header>
{{ end }}

