{{ define "main" }}

<p><img src="avatar.svg" width="256" height="256" alt="Mi avatar: un cuadro redondo y rojo con un control de Super Famicom y codigo con resaltado de sintaxis dentro"></img></p>
  <h1 class="title">{{ .Site.Title }}</h1>
  {{ .Content }}
<footer>
  El contenido de este sitio web es <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.es">CC-BY-SA</a>.
  Su <a href="https://github.com/sirfredrick/blog.sirfredrick.com">código</a> es <a href="https://opensource.org/licenses/MIT">MIT</a>.
</footer>
{{ end }}

